streamlit==1.35.0
pandas==2.2.2
yfinance==0.2.37
transformers==4.40.0
torch==2.3.0+cpu
sentencepiece==0.2.0
protobuf==4.25.3
feedparser==6.0.11
matplotlib==3.8.3
joblib==1.4.2
scikit-learn==1.6.0
numpy==1.26.4
scipy==1.15.1
talib-binary==0.4.24 

--find-links https://download.pytorch.org/whl/torch_stable.html
